html, body {
    height: 100%;
}

.main {
    margin: auto;
    width: 50%;
    height: 100%;
    background-color: #ffffe6;
}

.header-container {
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

.header {
    min-width: 300px;
}

.text-container {

}

.button-container {
    padding-top: 50px;
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

.button {
    min-height: 50px;
    max-width: 150px;
    margin: 0 3px 0 3px;
    flex: 1;
    text-align: center;
    font-size: 16px;
    color: black;
    border-radius: 15px;
    border-width: 0px;
    background-color: #02ff73;
    cursor: pointer;
}

.button_disabled {
    opacity: 0.5;
}

.numbers-container {
    padding-top: 30px;
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

.numbers-container__numbers-list {
    flex: 1;
    max-width: 500px;
}

.numbers-list {
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    justify-content: space-between;
}

.list__item {
    border: 1px solid black;
    background-color: white;
    font-size: 40px;
    padding: 0 4px 0 4px;
    margin: 1px;
    min-width: 40px;
    text-align: center;
}

.list__item_sorted {
    background-color: #02ff73;
}

.list__item_step {
    animation: 1s step;
}

@keyframes step {
    from, to {
        background-color: white;
    }
    50% {
        background-color: #ffea7b;
    }
}

.list__item_unmatch {
    animation: 1s unmatch;
}

@keyframes unmatch {
    from, to {
        background-color: white;
    }
    50% {
        background-color: #ff7f6a;
    }
}

.fade_in {
    animation: 0.75s fade_in;
}

@keyframes fade_in {
    from{
        color: rgba(0, 0, 0, 1);
    }
    to {
        color: rgba(0, 0, 0, 0);
    }
}

.fade_out {
    animation: 0.75s fade_out;
}

@keyframes fade_out {
    from{
        color: rgba(0, 0, 0, 0);
    }
    to {
        color: rgba(0, 0, 0, 1);
    }
}